# -----------------------------
# Python кэш и сборки
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg

# -----------------------------
# Виртуальные окружения
# -----------------------------
.venv/
env/
venv/
ENV/

# -----------------------------
# Логи и кэш
# -----------------------------
*.log
logs/
*.pid
.pytest_cache/
.mypy_cache/
.cache/
coverage/

# -----------------------------
# IDE / редакторы
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# Git
# -----------------------------
.git/
.gitignore

# -----------------------------
# Docker / Compose
# -----------------------------
.dockerignore
docker-compose.yml
docker-compose.override.yml

# -----------------------------
# ОС-специфичное
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Проектные папки
# -----------------------------
# Эти директории монтируются как тома, поэтому их не нужно копировать в образ
images/
logs/